* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: monospace;
}

window#waybar {
    color: #d2c5bc;
    background: rgba(40,44,52,0.8);
}

#workspaces button {
    font-size: 20px;
    padding: 0 8px;
    color: #d2c5bc;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #f9bb80;
    border-bottom: 2px solid #f9bb80;
}

#workspaces button.urgent {
    color: #b91e2e;
    border-bottom: 2px solid #b91e2e;
}

#clock, #battery, #pulseaudio, #tray, #backlight, #custom-vpn, #mode {
    font-family: Inconsolata; 
    font-size: 16px;
    padding: 0 2px;
    margin: 0 3px;
}

@keyframes blink {
    to {
        background-color: #d2c5bc;
        color: #282c34;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #b91e2e;
}