* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: monospace;
}

window#waybar {
    color: #D8DEE9;
    background: rgba(40,44,52,0.8);
}

#workspaces button {
    font-size: 20px;
    padding: 0 8px;
    color: #d2c5bc;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #81A1C1;
    border-bottom: 2px solid #81A1C1;
}

#workspaces button.urgent {
    color: #BF616A;
    border-bottom: 2px solid #BF616A;
}

#clock, #battery, #pulseaudio, #tray, #backlight, #custom-vpn, #mode {
    font-family: Inconsolata; 
    font-size: 16px;
    padding: 0 2px;
    margin: 0 3px;
}

@keyframes blink {
    to {
        background-color: #D8DEE9;
        color: #2E3440;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #BF616A;
}